body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-red{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}   
.width-koro{
    width: 50%;
    padding-left: 4%;
}
.width-koro img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-color: orangered; 
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
     
}
.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.experiance-shadow{
    width: 40%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 15px 0.6px rgb(48, 47, 47); 
}
 #webdev-ex{
     border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 3px;
 }
 footer p {
     text-align: center;
 }